INSTAGRAM_SESSION_ID=(find your sessid in your instagram cookies)

MONGODB_METHOD=mongodb+srv
MONGODB_USERNAME=mongodb_username
MONGODB_PASSWORD=mongodb_password
MONGODB_SERVER_URI=mongodb_server_uri
MONGODB_DATABASE=mongodb_database_name
MONGODB_PARAMS=mongodb_params